*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/markdown-navigator/profiles_settings.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
a.lnk
app/release/app-release.apk
app/release/output.json
app/src/androidTest/java/com/bald/uriah/baldphone/ExampleInstrumentedTest.java
app/src/test/java/com/bald/uriah/baldphone/ExampleUnitTest.java
monkey.bat
run.bat
.idea/assetWizardSettings.xml
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/copyright/apache_2_0.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/uriah.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kotlinc.xml
.idea/markdown-exported-files.xml
app/baldUpdates/release/app-baldUpdates-release.apk
app/baldUpdates/release/app-release.apk
app/baldUpdates/release/output.json
