<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2019 Uriah Shaul Mandel
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bald.uriah.baldphone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />


    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".BaldPhone"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/bald_light"
        tools:ignore="UnusedAttribute">


        <activity
            android:name=".activities.HomeScreenActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DialerActivity"
            android:label="@string/dialer">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.alarms.AlarmsActivity"
            android:label="@string/alarms" />
        <activity
            android:name=".activities.alarms.AlarmScreenActivity"
            android:label="@string/alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.alarms.AddAlarmActivity"
            android:label="@string/add_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contacts.ContactsActivity"
            android:label="@string/contacts"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.contacts.SingleContactActivity" />
        <activity
            android:name=".activities.media.SingleVideoActivity"
            android:label="@string/video" />
        <activity
            android:name=".activities.TutorialActivity"
            android:label="@string/video_tutorials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SOSActivity"
            android:label="@string/sos" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:label="@string/notifications" />
        <activity
            android:name=".activities.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PermissionActivity" />
        <activity
            android:name=".activities.RecentActivity"
            android:label="@string/recent" />
        <activity
            android:name=".activities.media.PhotosActivity"
            android:label="@string/photos" />
        <activity
            android:name=".activities.media.VideosActivity"
            android:label="@string/videos">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.media.SinglePhotoActivity" />
        <activity android:name=".activities.contacts.AddContactActivity" />
        <activity
            android:name=".activities.alarms.AddTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppsActivity"
            android:label="@string/apps" />
        <activity
            android:name=".activities.pills.PillsActivity"
            android:label="@string/pills" />
        <activity
            android:name=".activities.pills.AddPillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.pills.PillScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FontChangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AccessibilityLevelChangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contacts.ShareActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.CreditsActivity" />
        <activity
            android:name=".activities.YoutubeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoTutorialsActivity"
            android:label="@string/video_tutorials" />
        <activity
            android:name=".activities.CrashActivity"
            android:label="@string/crash" />
        <activity android:name=".activities.KeyboardChangerActivity" />
        <activity android:name=".activities.pills.PillTimeSetterActivity" />
        <activity
            android:name=".activities.PhoneActivity"
            android:label="@string/phone">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TechnicalInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.UpdatesActivity" />
        <activity android:name=".activities.Page1EditorActivity" />


        <service
            android:name=".keyboard.BaldInputMethodService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name=".services.NotificationListenerService"
            android:label="Bald Notification Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver android:name=".broadcast_receivers.BootUpBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.LocalChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receivers.AlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name=".broadcast_receivers.ReminderReceiver"
            android:process=":remote" />
        <receiver android:name=".broadcast_receivers.DownloadManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>