<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2019 Uriah Shaul Mandel
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bald.uriah.baldphone">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".core.BaldPhone"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/bald_light"
        tools:ignore="UnusedAttribute">


        <activity
            android:name=".activities.homescreen.HomeScreenActivity"
            android:enabled="${fullApp}"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DialerActivity"

            android:enabled="${fullApp}"
            android:label="@string/dialer">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.alarms.AlarmsActivity"

            android:enabled="${fullApp}"
            android:label="@string/alarms" />
        <activity
            android:name=".activities.alarms.AlarmScreenActivity"

            android:enabled="${fullApp}"
            android:label="@string/alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.alarms.AddAlarmActivity"

            android:enabled="${fullApp}"
            android:label="@string/add_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contacts.ContactsActivity"

            android:enabled="${fullApp}"
            android:label="@string/contacts"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.contacts.SingleContactActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.media.SingleVideoActivity"

            android:enabled="${fullApp}"
            android:label="@string/video" />
        <activity
            android:name=".activities.TutorialActivity"

            android:enabled="${fullApp}"
            android:label="@string/video_tutorials"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SOSActivity"

            android:enabled="${fullApp}"
            android:label="@string/sos" />

        <activity
            android:name=".activities.SettingsActivity"

            android:enabled="${fullApp}"
            android:label="@string/settings" />
        <activity
            android:name=".activities.NotificationsActivity"

            android:enabled="${fullApp}"
            android:label="@string/notifications" />
        <activity
            android:name=".activities.FakeLauncherActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PermissionActivity" />
        <activity
            android:name=".activities.RecentActivity"
            android:enabled="${recentCalls}"
            android:label="@string/recent"></activity>
        <activity
            android:name=".activities.media.PhotosActivity"

            android:enabled="${fullApp}"
            android:label="@string/photos" />
        <activity
            android:name=".activities.media.VideosActivity"

            android:enabled="${fullApp}"
            android:label="@string/videos">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.media.SinglePhotoActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.contacts.AddContactActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.alarms.AddTimerActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppsActivity"

            android:enabled="${fullApp}"
            android:label="@string/apps" />
        <activity
            android:name=".activities.pills.PillsActivity"

            android:enabled="${fullApp}"
            android:label="@string/pills" />
        <activity
            android:name=".activities.pills.AddPillActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.pills.PillScreenActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FontChangerActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AccessibilityLevelChangerActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contacts.ShareActivity"

            android:enabled="${fullApp}"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.CreditsActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.YoutubeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoTutorialsActivity"

            android:enabled="${fullApp}"
            android:label="@string/video_tutorials" />
        <activity
            android:name=".activities.CrashActivity"
            android:label="@string/crash" />
        <activity
            android:name=".activities.KeyboardChangerActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.pills.PillTimeSetterActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.PhoneActivity"

            android:enabled="${fullApp}"
            android:label="@string/phone">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TechnicalInfoActivity"

            android:enabled="${fullApp}"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.UpdatesActivity"
            android:enabled="${fullApp}" />
        <activity
            android:name=".activities.Page1EditorActivity"

            android:enabled="${fullApp}"
            android:label="@string/edit_home_screen" />


        <service
            android:name=".keyboard.BaldInputMethodService"
            android:enabled="${fullApp}"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name=".services.NotificationListenerService"
            android:enabled="${fullApp}"
            android:label="Bald Notification Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver
            android:name=".broadcast_receivers.BootUpBroadcastReceiver"
            android:enabled="${fullApp}">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receivers.LocalChangedReceiver"
            android:enabled="${fullApp}">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receivers.AlarmReceiver"
            android:enabled="${fullApp}"
            android:process=":remote" />
        <receiver
            android:name=".broadcast_receivers.ReminderReceiver"
            android:enabled="${fullApp}"
            android:process=":remote" />
        <receiver
            android:name=".broadcast_receivers.DownloadManagerReceiver"
            android:enabled="${fullApp}">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="${fullApp}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>